::placeholder { 
  color: white;
  opacity: 0.7; 
}

@keyframes fromLeftToRight {
  from {
    width: 0%;
    visibility: visible;
  }
  to {
    width: 70%;
    visibility: visible;
  }
}

.animated {
  animation: fromLeftToRight 2s forwards;
}

@keyframes scaleIcon {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}

.search__icon  {
  color: white;
  margin-left: 20px;
  cursor: pointer;
  animation: scaleIcon 3s ease-in-out infinite;
}

.search__input {
  width: 0%;
  visibility: hidden;
  margin-left: 10px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  color: white;
  background: transparent;
  transition: all 0.2s;
}

.search__input:hover {
  border-color: white;
}

.search__input:focus {
  border-color: white;

}