@keyframes alertAnimationOpacity {
  from {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.alertCustom {
  animation: alertAnimationOpacity 2s ease-out forwards;
}

.tinyAlert {
  width: 80%;
  font-size: 14px;
}

.alertTop {
  position: absolute;
  animation: alertAnimationOpacity 2s ease-out forwards;
  z-index: 1;
  left: 300px;
}

input:invalid {
  border: 2px solid red;
}
